@font-face {
    font-family: Dancing Script;
    src: url(../fuentes/DancingScript-Regular.otf);
}

body {
    font-family: 'Dancing Script';
    background-color: #02010a;
}

#cabecera {
    height: auto;
    color: white;
    width: 100%;
    background-color: #5b7989;
    border-radius: 10px 10px 0 0;
    animation: slidein 1s;
}


.sinsubrayado{
    text-decoration: none;
      }
@keyframes slidein{
    0% {
        margin-top: 150%;
    }
    60% {
        margin-top: -5%;
    }
    100% {
        margin-top: 0%;
    }

}
@-webkit-keyframes slidein {
    0% {
        margin-top: 150%;
    }
    60% {
        margin-top: -5%;
    }
    100% {
        margin-top: 0%;
    }
}

#contenido {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#cabecera #titulo {
    text-shadow: 2px 2px #02010a;
    font-size: 2em;
}

nav li {
    display: inline;
    padding: 0.5em;
    list-style-type: none;
    font-size: 1.5em;
}

a {
    color: white;
}

a:active {
    text-decoration: none;
}

#contenido-principal {
    width: 100%;
    background-color: #82c3a6;
    box-sizing: border-box;
}

#contenido-secundario {
    width: 100%;
    background-color: #d5c75f;
    box-sizing: border-box;
}

.caption {
    text-align: center;
}

.caption a:visited {
    color: black;
}

.caption>a:link {
    color: black;
    font-size: 2.5em;
}

#paisaje:hover {
    transform: rotate(10deg);
    box-shadow: 2px 2px #82c3a6;
    border: solid 2px black;
    transition: 0.5s;
}

#retrato:hover {
    transform: translate(5px, -20px);
    box-shadow: 2px 2px #82c3a6;
    border: solid 2px black;
    transition: 0.5s;
}