@font-face{
 font-family: Dancing Script;
 src: url(../fuentes/DancingScript-Regular.otf);

}

#contenido{
font-family: 'Dancing Script';
background-color:  #02010a;
text-align: center;

}

#cabecera #titulo {
text-align: left;
width:900px;
height: 5em;

background-color: #5b7989;
}