


  

@media ( min-width: 900px)


    {
    #cabecera {
        display: flex;
        flex-direction: row;
    }
    #cabecera #titulo {
        width: 60%;
        text-align: left;
        margin-left: 2%;
    }
 
    #contenido {
        width: 900px;
        margin: 0px auto;
       }
    
      
    
    
    nav {
        width: 40%;
        margin: 1em;
    }
    .imagenes {
        width: auto;
        display: block;
        margin: 3% auto 3%;
        box-shadow: 2px 2px #02010a;
        border-radius: 5px;
    }
  #contenido-secundario {
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        justify-content:center;
     
        width: 100%;
        
    }
    #imagen-paisaje, #imagen-retrato {
        width: 50%;
        height: auto;
        box-sizing: border-box;
    }
    #contenido-secundario figure img {
        height: 250px;
        border: solid 1px black;}

       
    
}

@media ( max-width: 899px)


    {
    #cabecera>* {
        text-align: center;
    }
    #cabecera {
        display: flex;
        flex-direction: column;
    }
    .imagenes {
        width: 90%;
        display: block;
        margin: 3% auto 3%;
    }
    #contenido-secundario {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
}
